* {
    box-sizing: border-box;
}



body {
   
    background: linear-gradient(blue, orange, black);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    height: 400px;
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    background-color: antiquewhite;
    padding: 10px; 

}

.highScore {
    height: 40px;
}

.btn-grid {
    display:grid;
    grid-template-columns: repeat(2,auto);
    gap: 40px;
    margin: 20px 0;
}

#start-btn {
    height:75px;
    width:150px;
    margin-bottom: 50px;
    background: linear-gradient(blue, orange, black);
}

#next-btn {
    height:75px;
    width: 150px;
    background: linear-gradient(blue, orange, black);
    margin-bottom: 50px;
}

.btn {
    border-radius: 10px;
    height: 100px;
    background-color: orange;
}

.btn:hover {
    border: black;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}