.hide {
    display: none;
}

/* home css */

* {
    box-sizing: border-box;
    
}
 
body {
    background-color: rgb(43, 76, 226);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


h1 {
    font-size: 75px;
    color: orange  
}


/* newgen css */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 25px;
}

#question {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 80px;
    margin-bottom: 80px;
    font-size: 30px;
}

.choice-container {
    display: flex;
    align-items: center;
      width: 900px;
      height: 100px;
      background-color: orange;
      gap: 25px;
      margin-bottom: 30px;
      border-radius: 5px;
}

.nxt {
    width: 500px;
    font-size: 30px;
    background-color: orange;
    border: orange;
}

.nxt:hover {
     background-color: rgb(118, 118, 132);
     cursor: pointer;
}

.restart {
    display: none;

}

.correctAnswer {
    background-color: green;
}


.end {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: green;
    z-index: 100;
}
